@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');


* {
    /* border: 1px solid red; */
    box-sizing: border-box;  
}

:root {
    --main-width: 80vw;
    font-family: 'Balsamiq Sans', cursive;
}

html {
    /* border-color: black; */
    padding: 0;
}

body {
    /* border-color: aqua; */
    margin: 0;
}

/* TODO: REMOVE THIS ONCE TESTING IS DONE */
#reset { 
    position: absolute;

    top: 500px;
    left: 200px;
}

#start-screen-cover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#game-over-cover {
    background-color: rgba(255, 255, 255, 0.527);
    color: rgb(0, 0, 0);
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.disp-none {
    display: none;
}

#start-wrapper, #game-over-wrapper {
    /* background-color: blue; */
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#icon-grid{
    /* background: red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.icon-wrapper {
    /* border: 1px solid black; */
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    /* border: 1px solid white; */
    width: 100px;
    transition: 500ms;
}

.icon:hover {
    width: 120%;
}

.icon-small{
    width: 100px;
    opacity: 50%;
}

.icon-big{
    width: 120px;
    opacity: 100%;
}

main {
    /* border-color: blue; */
    width: var(--main-width);
    margin: 0 auto;
    height: 100vh;
}

#board-heading{
    text-align: center;
}

#game-board {
    /* border: 1px solid green; */
    background: rgb(0, 0, 0);
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
}

.board-spot {
    width: calc(var(--main-width)*0.2);
    height: calc(var(--main-width)*0.2);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-spot::after {
    content: '';
    width: calc(var(--main-width)*0.2);
    height: calc(var(--main-width)*0.2);
    position: absolute;
}

#game-data-wrapper{
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "playerx playero"
    "draw draw";
    gap: 50px;
    text-align: center;
}

#player1-data {
    grid-area: playerx;
}

#player2-data {
    grid-area: playero;
}

#draw-data {
    grid-area: draw;
}

.player-name{
    margin: 0;
}

.player-wrapper img{
    width: 50px;
    display: block;
    margin: 0 auto;
}

#player1-data {
    grid-area: playerx;
}

#player2-data {
    grid-area: playero;
}

#draw-data {
    grid-area: draw;
}



