@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');


* {
    /* border: 1px solid red;       */
    box-sizing: border-box;  
}

:root {
    --main-width: 80vw;
    --icon-size: 8vw;
    font-family: 'Balsamiq Sans', cursive;
}

@media screen and (min-width: 800px) {
    :root {
        --main-width: 700px
    }   
}

html {
    /* border-color: black; */
    padding: 0;
}

body {
    /* border-color: aqua; */
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.cover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#start-screen-cover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#game-over-cover {
    background-color: rgba(0, 0, 0, 0.609);
    color: rgb(255, 255, 255);
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1;
    font-size: 1.5em;
}

#game-mode-wrapper{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 20pt;
}

@media screen and (max-width: 450px) {
    #game-mode-wrapper{
        flex-direction: column;
    }
    
}

#game-mode-wrapper div{
    /* border: 1px solid red; */
    /* opacity: 50%; */
    cursor: pointer;
    transition: 200ms;
    padding: 5px;
}

.game-mode-button{
    width: fit-content
}


#welcome-wrapper h1, #start-wrapper h1{
    margin: 0;
}

#welcome-wrapper div{
    margin: 0;
}

#welcome-wrapper {
    /* background-color: blue; */
    width: var(--main-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#game-over-wrapper{
    /* background-color: blue; */
    width: var(--main-width);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-areas: 
    "gameover"
    "icon"
    "message"
    "button";
    
}

@media screen and (orientation: landscape) {

    #game-over-wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            ". icon"
            "gameover icon"
            "message icon"
            "button icon"
            ". icon"
    }
}



#start-wrapper {
    width: var(--main-width);
    margin: 0 auto;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "hello"
        "instructions"
        "name"
        "icons"
        "button";
    text-align: center;
}



#game-over-wrapper h1{
    grid-area: gameover;
    margin: 10px 0;
    font-size: 2.5rem;
}

#game-over-wrapper p{  
    grid-area: message;
    margin: 10px 0
}

@media screen and (max-height: 650px) {
   #game-over-wrapper{
        flex-direction: row; 

    }
}

#start-wrapper h1, #start-wrapper p{
    display: flex;
    align-items: center;
    justify-content: center;
}
#name-field{
    width: 250px;
    height: fit-content;
    margin: auto;
    grid-area: name;
}



.input-req-box-shadow {
    outline: none;
    box-shadow: inset 0px 0px 20px rgb(255, 0, 0);
}

#icon-grid{
    /* background: red; */
    grid-area: icons;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px;
    border-radius: 30px;
    transition: 200ms;
    width: fit-content;
    /* border: 1px solid red */
}

.btn{
    width: fit-content;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.7rem;
    border-radius: 10px;
    border: 4px solid rgb(53, 53, 53);
    outline: none;
    opacity: 60%;
    transition: 200ms;
    margin: auto;
    height: fit-content;
    grid-area: button;
}

@media screen and (max-width: 450px) and (orientation: landscape) {
    #start-wrapper {
    grid-template-columns: 1fr 1fr;    
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: 
        "hello icons"
        "instructions icons"
        "name icons"
        "submit icons"
}


}

.btn:hover{
    opacity: 1;
    font-size: 1.8rem;
}

.btn:active{
    font-size: 1.7rem;
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    #icon-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.icon-wrapper {
    /* border: 1px solid black; */
    width: 120px;
    height: 120px;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .icon-wrapper {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-height: 500px) {
    .icon-wrapper {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-height: 400px) {
    .icon-wrapper {
        width: 60px;
        height: 60px;
    }
    #start-wrapper {
        font-size: 0.8em;
    }
}

.icon {
    /* border: 1px solid white; */
    width: 80%;
    transition: 500ms;
}

.icon:hover {
    width: 100%;
    cursor: pointer;
}

.icon-small{
    width: 80%;
    opacity: 50%;
}

.icon-big{
    width: 100%;
    opacity: 100%;
}

main {
    /* border-color: blue; */
    width: var(--main-width);
    margin: 0 auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (orientation: landscape) {
    main {
        flex-direction: row;
    }
    
}

#board-heading{
    text-align: center;
}

#game-board {
    /* border: 1px solid green; */
    background: rgb(0, 0, 0);
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    margin: 30px auto;
    /* margin-bottom: 30px; */
    position: relative;
}

.board-spot {
    width: calc(var(--main-width)*0.2);
    height: calc(var(--main-width)*0.2);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 580px) and (orientation: portrait) {
    .board-spot{
        width: 92px;
        height: 92px;
    }
    #game-board {
        gap: 3px;
    }
    
}

@media screen and (max-width: 480px) and (orientation: portrait) {
    .board-spot{
        width: 80px;
        height: 80px;
    }
    #game-board {
        gap: 3px;
    }
    
}

@media screen and (max-height: 580px) and (orientation: landscape) {
    .board-spot{
        width: 92px;
        height: 92px;
    }
    #game-board {
        gap: 3px;
    }
    
}

@media screen and (max-height: 480px) and (orientation: landscape) {
    .board-spot{
        width: 80px;
        height: 80px;
    }
    #game-board {
        gap: 3px;
    }
    
}

.board-spot::after {
    content: '';
    width: calc(var(--main-width)*0.2);
    height: calc(var(--main-width)*0.2);
    position: absolute;
}

.hover-icon, .placed-icon {
    width: 80%
}

.winner-icon {
    height: 300px;
    grid-area: icon;
    margin: 0 auto;
}

.hover-icon {
    opacity: 50%;
}

#game-data-wrapper{
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
    "playerx playero"
    "draw draw";
    gap: 20px;
    text-align: center;
    align-items: end;
    
}

#player1-data {
    grid-area: playerx;
    
}

#player2-data {
    grid-area: playero;
}

#draw-data {
    grid-area: draw;
    align-self: start;
}


.player-name{
    margin: 10px 0;
}

.player-wrapper img{
    width: 80px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 450px) {
    .player-wrapper img{
        width: 60px
    }
    
}

.player-wrapper span{
    display: inline-block;
    margin: 10px
}

#player1-data {
    grid-area: playerx;
}

#player2-data {
    grid-area: playero;
}

#draw-data {
    grid-area: draw;
}

#name-field {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 4px solid rgb(53, 53, 53);
    outline: none;
    transition: 200ms;
}

#name-field:focus {
    outline: none;
    box-shadow: 0px 0px 10px green  ;
}


