@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');


* {
    /* border: 1px solid red;       */
    box-sizing: border-box;  
}

:root {
    --main-width: 80vw;
    --icon-size: 8vw;
    font-family: 'Balsamiq Sans', cursive;
}

@media screen and (min-width: 800px) {
    :root {
        --main-width: 700px
    }   
}

html {
    /* border-color: black; */
    padding: 0;
}

body {
    /* border-color: aqua; */
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.cover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: center;
    z-index: 1;
}


#start-screen-cover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#game-over-cover {
    background-color: rgba(0, 0, 0, 0.609);
    color: rgb(255, 255, 255);
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: 2em;
}

#start-wrapper, #game-over-wrapper, #welcome-wrapper {
    /* background-color: blue; */
    width: var(--main-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#icon-grid{
    /* background: red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
}

@media screen and (max-width: 800px) {
    #icon-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.icon-wrapper {
    /* border: 1px solid black; */
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .icon-wrapper {
        width: 80px;
        height: 80px;
    }
}

.icon {
    /* border: 1px solid white; */
    width: 80%;
    transition: 500ms;
}

.icon:hover {
    width: 100%;
}

.icon-small{
    width: 80%;
    opacity: 50%;
}

.icon-big{
    width: 100%;
    opacity: 100%;
}

main {
    /* border-color: blue; */
    width: var(--main-width);
    margin: 0 auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#board-heading{
    text-align: center;
}

#game-board {
    /* border: 1px solid green; */
    background: rgb(0, 0, 0);
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
}

.board-spot {
    width: calc(var(--main-width)*0.2);
    height: calc(var(--main-width)*0.2);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-spot::after {
    content: '';
    width: calc(var(--main-width)*0.2);
    height: calc(var(--main-width)*0.2);
    position: absolute;
}

.hover-icon, .placed-icon, .winner-icon {
    width: 80%
}

.hover-icon {
    opacity: 50%;
}

#game-data-wrapper{
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "playerx playero"
    "draw draw";
    gap: 50px;
    text-align: center;
}

#player1-data {
    grid-area: playerx;
}

#player2-data {
    grid-area: playero;
}

#draw-data {
    grid-area: draw;
}

.player-name{
    margin: 0;
}

.player-wrapper img{
    width: 80px;
    display: block;
    margin: 0 auto;
}

#player1-data {
    grid-area: playerx;
}

#player2-data {
    grid-area: playero;
}

#draw-data {
    grid-area: draw;
}



